.SignInPage{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .wrapper{
        border-radius: 100px;
        background-image: url(../image/mountain_background.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        overflow: hidden;

        &__form{
            background-color: $background-color;
            display: flex;
            flex-direction: column;
            justify-content:  center;
            padding: 0 5% 0 5%;

            .header{
                margin-bottom: 20px;

                &__title{
                    margin-top: 15rem;
                    font-size: 5rem;
                    color: $text-color;
                    line-height: 6rem;   
                }

                &__text{
                    font-size: 1.8rem;
                    color: $text-color;
                    line-height: 3rem;
                }
            }

            .content{

                .form__input{
                    height: 7rem;
                    width: 50rem;
                    margin-bottom: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 2rem;
                    background-color: $input-color;
                    padding: 0 15px 0 25px;
                    position: relative;

                    &.error{
                        border: 1px solid red;
                    }

                    &__box{
                        display: flex;
                        flex-grow: 1;
                        flex-direction: column;
                        justify-content:center;
                        height: 100%;

                        label{
                            font-size:1.2rem;
                            color: $text-second-color;
                            font-weight: bold;
                        }

                        input{
                            height: 3rem;
                            border: none;
                            outline: none;
                            background-color: $input-color;
                            font-size: 1.5rem;
                            font-weight: bold;
                            color: $text-color;

                            &:-webkit-autofill{
                                -webkit-box-shadow: 0 0 0 1000px $input-color inset !important;
                                -webkit-text-fill-color: white !important;
                            }
                        }

                    }

                    &__icon{
                        font-size: 2.5rem;
                        color: $text-second-color;
                        display: flex;
                        align-items: center;
                        margin-left: 5rem;
                    }
                    
                    &--error{
                        color: $error-color;
                        font-size: 1.2rem;
                        margin-left: 0.5rem;
                        position: absolute;
                        bottom: -2.2rem;
                    }
                }


                .form__button{
                    height: 5rem;
                    width: 20rem;
                    border-radius:2.5rem;
                    margin-top: 3rem;
                    font-size: 1.5rem;
                    color: $text-color;
                    background-color: $main-color;
                    margin-bottom: 12rem;
                }
            }
        }

    }
}